@import './vars.scss';
@import './font-size.scss';


main {
    padding-right: 160px;
    transition: all .3s ease;
}

@media (max-width: 1100px) {
    main {
        padding-right: 90px;
    }
}

@media (max-width: 767px) {
    main {
        padding-right: 0;
    }
}

// feedback
.feedback {
    font-family: $SFCompact;
    @include bg_success_primary;
    font-weight: normal;
    transition: all .3s ease;
    
    .bg_image {
        background-image: url('../images/gold-1.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 100% 100%;
        padding: 115px 230px 115px 95px;
        display: flex;
        align-items: center;
        transition: all .3s ease;
    }

    h2 {
        @include font-size(25px);
        color: $secondary;
        text-transform: uppercase;
        line-height: 1;
        margin-right: 60px;
        max-width: 180px;
        z-index: 1;
        position: relative;
        transition: all .3s ease;

        &::before {
            content: "";
            width: 45px;
            height: 45px;
            border: 2px solid white;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: calc(50% - 45px / 2);
            left: -22px;
        }

        .bold {
            font-weight: 800;
        }
    }

    form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        transition: all .3s ease;
    }

    button[type=submit] {
        padding: 6px 20px;
    }

    .label-group {
        position: relative;
    }

    label {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        transition: all .3s ease;
        color: $black;
        font-size: 16px;

        &.focus {
            top: -20px;
            color: $secondary_light;
            font-size: 12px;
        }
    }

    input {
        background-color: transparent;
        padding-bottom: 4px;
        border: 0;
        border-bottom: 2px solid $black;
        width: 200px;
        color: $secondary_2;
        font-size: 16px;
        outline: none;     
        position: relative;
        transition: all .3s ease;
    }
}

@media (max-width: 1350px) {
    .feedback {
        .bg_image {
            padding-right: 95px;
        }
    }
}

@media (max-width: 1200px) {
    .feedback {
        .bg_image {
            flex-direction: column;
        }

        h2 {
            margin-right: 0;
            margin-bottom: 45px;
            max-width: none;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .feedback {
        .bg_image {
            padding-right: 50px;
            padding-left: 50px;
        }

        input {
            width: 150px;
        }
    }
}

@media (max-width: 767px) {
    .feedback {
        .bg_image {
            padding: 90px 30px;
            background-image: none;
        }

        .label-group {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }

        form {
            flex-direction: column;
            align-items: center;
        }

        input {
            max-width: 260px;
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    .feedback {
        h2 {
            &::before {
                display: none;
            }
        }
    }
}
// end feedback


// image block
.image_block {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
    font-weight: normal;
    font-family: $SFCompact;
    padding: 50px 0 30px;
    transition: all .3s ease;

    & > div {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 50px;
    }

    h3 {
        @include font-size(20px);
        color: $secondary_2;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        text-align: center;
        max-width: 250px;
        margin-bottom: 40px;

        .bold {
            font-weight: 800;
        }
    }

    img {
        max-width: 287px;
        width: 100%;
    }

    button {
        margin-top: 35px;
    }
}

@media (max-width: 991px) {
    .image_block {
        flex-wrap: wrap;
        padding: 50px 30px 0;
    }
}
// end image block

// advantages
.advantages {
    font-family: $SFCompact;
    position: relative;
    display: flex;
    align-items: center;
    padding: 80px 160px 80px 95px;
    @include bg_success_primary;
    transition: all .3s ease;

    .content_block {
        display: flex;
        width: 100%;
        justify-content: space-around;
        max-width: 1000px;
        margin-left: auto;
        transition: all .3s ease;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 250px;
            position: relative;
            transition: all .3s ease;
        }
    }

    .rotate {
        transform: rotate(-90deg);
        position: absolute;
        left: -20px;
        font-size: 10px;
        color: $secondary_2;
        transition: all .3s ease;
    }

    h4 {
        font-weight: normal;
        font-size: 15px;
        color: $secondary_2;
        max-width: 250px;
        line-height: 1.1;
        text-transform: uppercase;       
        margin-bottom: 25px;   
        z-index: 1;

        &::before {
            content: "";
            width: 45px;
            height: 45px;
            border: 2px solid white;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: -15px;
            left: -22px;
        }

        .bold {
            font-weight: 800;
        }
    }

    p {
        font-size: 11px;
        color: $secondary_2;         
        margin-bottom: 0;
    }
}

@media (max-width: 1400px) {
    .advantages {
        padding: 80px 30px 80px 95px;
    }
}

@media (max-width: 1100px) {
    .advantages {
        flex-direction: column;
        padding: 80px 30px;

        .rotate {
            transform: rotate(0);
            position: static;
            @include font-size(25px);
            margin-bottom: 50px;

            .bold {
                font-weight: 800;
            }
        }
    }
}

@media (max-width: 991px) {
    .advantages {
        padding: 80px 30px 30px;

        .content_block {
            flex-wrap: wrap;

            & > div {
                margin: 0 15px 50px;
            }
        }
    }
}
// end advantages

// seo article
.seo_article {
    font-weight: normal;
    font-family: $SFCompact;
    padding: 50px 0 50px 65px;
    transition: all .3s ease;

    & > div {
        transition: all .3s ease;

        &.header_cont {
            padding-top: 8px;
            padding-left: 18px;
        }

        &.text_first, &.text_last {
            padding-top: 25px;
            margin-top: 18px;
            position: relative;
        }

        &.text_last {
            padding-left: 30px;
            padding-right: 0;
        }
    }

    p {
        font-size: 11px;
        color: $secondary_2;
        line-height: 1.3;      
        max-width: 370px;
    }
}

@media (max-width: 991px) {
    .seo_article {

        & > div {
            &.header_cont {
                margin-bottom: 50px;
            }
    
            &.text_last {
                padding: 0 15px;
            }
        }
    
        h2 {
            margin: auto;
        }
    
        p {
            max-width: none;
        }
    }
}

@media (max-width: 767px) {
    .seo_article {
        padding: 50px 30px;
    }
}
// end seo article

// latest articles
.latest_articles {
    text-align: center;
    padding: 50px 30px;
    font-family: $SFCompact;

    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .article {
        margin: 0 8px 30px;

        & > div {
            padding: 10px 10px 0;
            position: relative;


            &::before {
                content: '';
                width: 100%;
                height: 90%;
                left: 0;
                top: 0;
                position: absolute;
                border-radius: 2px;
                opacity: .7;
                @include bg_primary_success;
            }

            &:hover {
                &::before {
                    z-index: -1;
                }

                img {
                    opacity: 1;
                }
            }
        }

        img {
            max-width: 305px;
            max-height: 200px;
            width: 100%;
            border-radius: 3px;
            opacity: .4;
            transition: all .5s ease;
        }

        h4 {
            font-size: 15px;
            color: $secondary_2;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;   
            font-weight: bold;  
             margin: 15px 0 10px 0;         
        }

        span {
            display: block;

            &.category {
                color: $main_success;
                font-size: 10px;
                text-transform: uppercase;
                line-height: 1.2;
                font-weight: bold;
            }

            &.date {
                font-size: 14px;
                color: $secondary_light;
                line-height: 1.2;
                margin-top: 30px;
            }
        }
    }

    h2 {
        margin: 0 auto 50px;
    }

    button {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .latest_articles > div {
        flex-wrap: wrap;
    }
}
// end latest articles

// company credo
.company_credo {
    padding: 50px 0 50px 65px;
    font-family: $SFCompact;
    transition: all .3s ease;
    font-weight: normal;

    .first {
        transition: all .3s ease;
    }

    h2 {
        transition: all .3s ease;
    }

    .second {
        transition: all .3s ease;
    }

    .quote {
        h4 {
            font-size: 11px;
            color: $main_success;
            text-transform: uppercase;
            line-height: 1.636;      
            position: relative;
            padding-left: 70px;
            margin-bottom: 35px;
            transition: all .3s ease;
            
            &::before {
                content: '';
                width: 45px;
                height: 33px;
                position: absolute;
                left: 0;
                top: -5px;
                background-image: url('../images/quotes.png');
                background-repeat: no-repeat;
            }
        }

        p {
            @include font-size(20px);
            color: $secondary_2;
            font-weight: bold;
            line-height: 1.2;      
            max-width: 285px;        
        }

        button {
            margin-top: 40px;
        }
    }

    .last {
        padding-top: 47px;
        margin-top: 7px;

        & > div {
            transition: all .3s ease;
        }

        p {
            font-size: 11px;
            color: $secondary_2;
            line-height: 1.3;
            max-width: 330px;
            margin-left: auto;
        }
    }
}

@media (max-width: 1300px) {
    .company_credo {
        justify-content: center;

        .first {
            min-width: 100%;
            margin-bottom: 50px;
        }

        h2 {
           margin: auto;
        }
    }
}

@media (max-width: 1200px) {
    .company_credo {
        .second {
            padding-left: 70px;
        }
    
        .last {
            padding-right: 70px;
        }
    }
}

@media (max-width: 991px) {
    .company_credo {
        .second {
            padding-left: 15px;
        }
    
        .last {
            padding-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    .company_credo {
        padding: 50px 30px;

        .second {
            order: 1;
            margin-top: 50px;
        }
    
        .quote {
            max-width: max-content;
            margin: auto;
        }
    
        .last {
            padding-top: 35px;
    
            & > div {
                max-width: max-content;
                margin: auto;
            }
        }
    }
}
// end company credo

// big image blog
.big_image_blog {
    padding: 130px 170px 165px 0;
    font-weight: normal;
    justify-content: flex-end;
    background-image: url('../images/image-1.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: -40% 50%;
    max-width: 1440px;
    margin: 0 auto;
    transition: all .3s ease;

    & > div {
        max-width: 390px;
        margin-left: auto;
        transition: all .3s ease;
    }

    img {
        display: none;
    }

    .header_cont {
        transition: all .3s ease;
    }

    h2 {
        @include font-size(16px);
        color: $secondary_2;
        line-height: 1.6;     
        margin-bottom: 25px;
        
        .bold {
            font-weight: bold;
        }
    }

    .big {
        @include font-size(40px);
        color: $black;
        text-align: left;       
        font-weight: 800;   
        line-height: 1;
        margin-bottom: 25px;

        .thin {
            font-weight: normal;
        }
    }

    p {
        font-size: 11px;
        color: $black;
        line-height: 1.3;      
        margin-bottom: 0;    
        transition: all .3s ease;
    }

    button {
        margin-top: 30px;
    }
}

@media (min-width: 1550px) {
    .big_image_blog {
        background-position: 0 50%;
    }
}

@media (max-width: 1250px) {
    .big_image_blog {
        padding-right: 50px;
        padding-bottom: 100px;
        // background-position: -40% 45%;
    }
}

@media (max-width: 991px) {
    .big_image_blog {
        padding: 65px 0 85px 0;
    
        & > div {
            max-width: 345px;
        }
    }
}

@media (max-width: 600px) {
    .big_image_blog {
        background-image: none;
        padding: 50px 30px;
        @include bg_primary_success;
        text-align: center;
    
        & > div {
            max-width: none;
        }

        img {
            display: block;
            max-width: 400px;
            width: 100%;
            margin: 0 auto 15px;
        }

        .header_cont {
            max-width: max-content;
            margin: auto;
        }
    
        p {       
            max-width: 400px;
            margin: 0 auto; 
            text-align: left;
        }
    }
}
// end big image blog

// latest works
.latest_works {
    max-width: 1440px;
    margin: auto;
    padding: 50px 0 50px 50px;
    text-align: center;
    font-family: $SFCompact;

    h2 {
        margin: 0 auto 65px;
    }

    .row {
        padding: 0 4px;
        margin: 0;
    }

    .item {
        position: relative;
        overflow: hidden;
        height: max-content;

        &:hover {
            img {
                opacity: 1;
            }

            .text {
                transform: translateY(-50px);
                opacity: 0;
                margin-top: -46px;
            }

            button {
                transform: translateY(0);
                opacity: 1;
                margin-bottom: 0;
            }
        }

        img {
            opacity: .5;
            transition: all .5s ease;
        }

        .description {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .name {
            @include font-size(15px);
            color: $secondary_2;
            text-transform: uppercase;
            line-height: 1.2; 
            font-weight: 700;             
        }

        .category {
            span {
                font-size: 10px;
                color: $main_success;
                text-transform: uppercase;    
                font-weight: bold;              
            }
        }

        a {
            cursor: pointer;
        }

        .text {
            transform: translateY(0);
            opacity: 1;
            margin-top: 0;
            transition: all .3s ease;
        }

        button {
            background-color: $main_success;
            color: white;
            border: 2px solid $main_success;
            transform: translateY(50px);
            opacity: 0;
            margin-bottom: -32px;

            &:hover {
                background-color: $main_primary;
                border: 2px solid $main_primary;
            }
        }
    }
        
    .column {
        flex: 33.333%;
        max-width: 33.333%;
        padding: 0 4px;

        img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
    }

    & > button {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .latest_works {
        padding: 50px 30px;

        .column {
            flex: 50%;
            max-width: 50%;

            &:last-child {
                flex: 100%;
                max-width: 100%;
                display: flex;
                padding: 0;

                .item {
                    padding: 0 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .latest_works {
        .column {
            flex: 100%;
            max-width: 100%;

            &:last-child {
                flex: 100%;
                max-width: 100%;
                display: block;
                padding: 0 4px;

                .item {
                    padding: 0;
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;

                .item:first-child {
                    order: 1;
                }
            }
        }
    }
}
// end latest works
