@import './vars.scss';
@import './font-size.scss';

body {
    font-family: $SFCompact;
    font-weight: normal;
    padding-top: 120px;
    transition: padding .5s ease;
    color: $black;

    &.modal-open {
        padding-top: 0;
        overflow: hidden;
    }

    &.fixedNav {
        padding-top: 56px;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: $main_success_light;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: $main_success;
    }
}

@media (max-width: 500px) {
    body {
        padding-top: 80px;

        &.fixedNav {
            padding-top: 56px;
        }
    }
}

.button {
    font-size: 10px;
    padding: 0;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    transition: .3s ease all; 

    a {
        padding: 6px 20px;
        display: block;
    }

    &:hover {
        background-color: $main_primary;
        border-color: $main_primary;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }
}

.black-btn {
    border: 2px solid $black;
    color: $secondary_2;
}

.success-btn {
    border: 2px solid $main_success;
    color: $main_success;
}

.a-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.navigation_menu {
    font-size: 11px;
    line-height: 1.455;
    text-transform: uppercase;

    li {
        a {
            color: $secondary;
            font-weight: 500;
            transition: color .3s ease;

            &:hover {
                color: $main_success;
            }
        }
    }
}

.fixed_socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 29px;
    align-items: center;
    right: calc((100px / 2) - (29px / 2));
    top: 135px;
    transition: right .3s ease;

    a {
        margin-bottom: 10px;
    }

    svg {
        width: 100%;
        transform: scale(1);
        fill: $main_success;
        transition: all .5s ease;

        &:hover {
            fill: $main_primary;
            transform: scale(1.1)
        }
    }
}

@media (max-width: 1100px) {
    .fixed_socials {
        right: calc((90px / 2) - (29px / 2));
    }
}

@media (max-width: 767px) {
    .fixed_socials {
        display: none;
    }
}

.section_header {
    @include font-size(25px);
    color: $secondary_2;
    text-transform: uppercase;
    line-height: 1.1;
    z-index: 1;
    position: relative;
    max-width: max-content;
    transition: all .3s ease;

    &.white {
        &::before {
            border: 2px solid white;
        }
    }

    &.success {
        &::before {
            border: 2px solid $main_success_light;
        }
    }
    
    &::before {
        content: "";
        width: 45px;
        height: 45px;
        left: -18px;
        top: calc(50% - 45px / 2);
        border: 2px solid $main_primary;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }

    .bold {
        font-weight: 800;
    }
}

.line_top {
    font-size: 11px;
    color: $secondary_2;
    line-height: 1.3;      
    position: relative;
    padding-top: 37px;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 2px;
        width: 30%;
        background-color: $main_success_light;
    }

    &.line_primary::before {
        background-color: $main_primary_light;
    }
}

.wraper {
    width: 100%;
}

.breadCrumb {
    font-family: $SFCompact;
    transition: all .3s ease;

    &.breadCrumb_dark {
        span a {
            color: $black;
        }

        li:not(:last-child)::after {
            background-image: url('../images/right-arrow.svg');
        }
    }

    span {
        @include font-size(11px);
        transition: color .3s ease;

        a {
            color: white;
            transition: color .3s ease;
            white-space: pre;
            font-weight: bold;

            &:hover {
                color: $main_success;
            }
        }
    }

    li:not(:last-child)::after {
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        background-size: 7px 7px;
        background-image: url('../images/right-arrow-white.svg');
        background-repeat: no-repeat;
        background-position: center 100%;
    }
}

.quote {
    h4 {
        font-size: 11px;
        color: $main_success;
        text-transform: uppercase;
        line-height: 1.636;      
        position: relative;
        padding-left: 70px;
        margin-bottom: 25px;
        transition: all .3s ease;
        
        &::before {
            content: '';
            width: 45px;
            height: 33px;
            position: absolute;
            left: 0;
            top: -5px;
            background-image: url('../images/quotes.png');
            background-repeat: no-repeat;
        }
    }

    p {
        @include font-size(20px);
        color: $secondary_2;
        font-weight: bold;
        line-height: 1.2;      
        max-width: 285px;        
    }
}

.list_style_1 {
    li {
        font-size: 13px;
        color: $main_success;
        line-height: 1.231;
        margin: 20px 0;
        letter-spacing: 2px;
        transition: color .3s ease;

        a:hover {
            color: $main_primary;
        }
    }
}

.blur.active {
    filter: blur(14px);
    padding-top: 120px;
}

@media (max-width: 500px) {
    .blur.active {
        padding-top: 80px;
    }
}

.modal-fone {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2000;
    font-family: $SFCompact;
    overflow: auto;
    opacity: 0;
    transform: scale(.8);
    display: none;
    transition: opacity .5s ease, transform .5s ease;

    &.open {
        display: flex;
        justify-content: center;
    }

    &.open-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity .5s ease, transform .5s ease;
    }

    .register-cont {
        display: flex;
        align-items: center;
    }

    .inner_cont {
        position: relative;
        z-index: 2005;
    }

    h2 {
        line-height: 1;
        margin-right: 60px;
        max-width: 180px;

        &::before {
            left: -22px;
        }
    }

    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 40px;
        transition: all .3s ease;
    }

    .input_cont {
        display: flex;
        justify-content: space-between;
        max-width: 495px;
        width: 100vw;
    }

    button[type=submit] {
        padding: 6px 20px;
        margin-top: 50px;
    }

    .label-group {
        position: relative;
    }

    label {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        transition: all .3s ease;
        color: $black;
        font-size: 16px;

        &.focus {
            top: -20px;
            color: $secondary_light;
            font-size: 12px;
        }
    }

    input {
        background-color: transparent;
        padding-bottom: 4px;
        border: 0;
        border-bottom: 2px solid $black;
        width: 212px;
        color: $secondary_2;
        font-size: 16px;
        outline: none;     
        position: relative;
        transition: all .3s ease;
    }
}

@media (max-width: 767px) {
    .modal-fone {
    
        form {
            align-items: center;
        }
    
        .input_cont {
            flex-direction: column;
            align-items: center;
        }

        h2 {
            margin-right: 0;
            margin-bottom: 45px;
            max-width: none;
            text-align: center;
            padding: 0 30px;

            &::before {
                display: none;
            }
        }
    
        .label-group:last-child {
            margin-top: 50px;
        }
    }
}
