@import './vars.scss';
@import './font-size.scss';

body {
    font-family: $SFCompact;
    padding-top: 120px;

    &::-webkit-scrollbar {
        width: 4px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #a79f9f;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: black;
    }
}

@media (max-width: 500px) {
    body {
        padding-top: 80px;
    }
}

.button {
    font-size: 10px;
    padding: 0;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    transition: .3s ease all; 

    a {
        padding: 6px 20px;
        display: block;
    }

    &:hover {
        background-color: $main_primary;
        border-color: $main_primary;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }
}

.black-btn {
    border: 2px solid $black;
    color: $secondary_2;
}

.success-btn {
    border: 2px solid $main_success;
    color: $main_success;
}

.a-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.navigation_menu {
    font-size: 11px;
    line-height: 1.455;
    text-transform: uppercase;

    li {
        a {
            color: $secondary;
            font-weight: 500;
            transition: color .3s ease;

            &:hover {
                color: $main_success;
            }
        }
    }
}

@media (min-width: 250px) {
    body {
        transition: all .3s ease;
    }
}
