@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot");
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Ultralight.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Ultralight.svg#SFCompactDisplay-Ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot");
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Thin.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Thin.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Thin.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Thin.svg#SFCompactDisplay-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Light.eot");
  src: url("../fonts/formats/SFCompactDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Light.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Light.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Light.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Light.svg#SFCompactDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot");
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Regular.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Regular.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Regular.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot");
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Medium.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Medium.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Semibold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Semibold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Semibold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot");
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Heavy.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Heavy.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Heavy.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Heavy.svg#SFCompactDisplay-Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Black.eot");
  src: url("../fonts/formats/SFCompactDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Black.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Black.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Black.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Black.svg#SFCompactDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "SFCompact";
  font-weight: normal;
  padding-top: 120px;
  -webkit-transition: padding .5s ease;
  transition: padding .5s ease;
  color: #333;
}

body.opened-menu {
  overflow: hidden;
}

body.modal-open {
  padding-top: 0;
  overflow: hidden;
}

body.fixedNav {
  padding-top: 56px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #f7e2e2;
}

body::-webkit-scrollbar-thumb {
  background-color: #fa7268;
}

@media (max-width: 500px) {
  body {
    padding-top: 80px;
  }
  body.fixedNav {
    padding-top: 56px;
  }
}

.button {
  font-size: 10px;
  padding: 0;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  width: 150px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.button a {
  padding: 6px 20px;
  display: block;
}

.button:hover {
  background-color: #9ee5e5;
  border-color: #9ee5e5;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.button:focus {
  outline: none;
}

.black-btn {
  border: 2px solid #333;
  color: #343434;
}

.success-btn {
  border: 2px solid #fa7268;
  color: #fa7268;
}

.a-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.a-link:hover {
  text-decoration: none;
  color: inherit;
}

.navigation_menu {
  font-size: 11px;
  line-height: 1.455;
  text-transform: uppercase;
}

.navigation_menu li a {
  color: #454545;
  font-weight: 500;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.navigation_menu li a:hover {
  color: #fa7268;
}

.fixed_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: calc((100px / 2) - (29px / 2));
  top: 135px;
  -webkit-transition: right .3s ease;
  transition: right .3s ease;
}

.fixed_socials a {
  margin-bottom: 10px;
}

.fixed_socials svg {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  fill: #fa7268;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.fixed_socials svg:hover {
  fill: #9ee5e5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1100px) {
  .fixed_socials {
    right: calc((90px / 2) - (29px / 2));
  }
}

@media (max-width: 767px) {
  .fixed_socials {
    display: none;
  }
}

.section_header {
  font-size: 1.5625rem;
  color: #343434;
  text-transform: uppercase;
  line-height: 1.1;
  z-index: 1;
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 1440px) {
  .section_header {
    font-size: calc(0.96625rem + 0.6625vw) ;
  }
}

.section_header.white::before {
  border: 2px solid white;
}

.section_header.success::before {
  border: 2px solid #f7e2e2;
}

.section_header::before {
  content: "";
  width: 45px;
  height: 45px;
  left: -18px;
  top: calc(50% - 45px / 2);
  border: 2px solid #9ee5e5;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.section_header .bold {
  font-weight: 800;
}

.line_top {
  font-size: 11px;
  color: #343434;
  line-height: 1.3;
  position: relative;
  padding-top: 37px;
}

.line_top::before {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 30%;
  background-color: #f7e2e2;
}

.line_top.line_primary::before {
  background-color: #e2f7f7;
}

.wraper {
  width: 100%;
}

.breadCrumb {
  font-family: "SFCompact";
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.breadCrumb.breadCrumb_dark span a {
  color: #333;
}

.breadCrumb.breadCrumb_dark li:not(:last-child)::after {
  background-image: url("../images/right-arrow.svg");
}

.breadCrumb span {
  font-size: 0.6875rem;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.breadCrumb span a {
  color: white;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  white-space: pre;
  font-weight: bold;
}

.breadCrumb span a:hover {
  color: #fa7268;
}

.breadCrumb li:not(:last-child)::after {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: 7px 7px;
  background-image: url("../images/right-arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center 100%;
}

.quote h4 {
  font-size: 11px;
  color: #fa7268;
  text-transform: uppercase;
  line-height: 1.636;
  position: relative;
  padding-left: 70px;
  margin-bottom: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.quote h4::before {
  content: '';
  width: 45px;
  height: 33px;
  position: absolute;
  left: 0;
  top: -5px;
  background-image: url("../images/quotes.png");
  background-repeat: no-repeat;
}

.quote p {
  font-size: 1.25rem;
  color: #343434;
  font-weight: bold;
  line-height: 1.2;
  max-width: 285px;
}

@media (max-width: 1440px) {
  .quote p {
    font-size: calc(0.935rem + 0.35vw) ;
  }
}

.list_style_1 li {
  font-size: 13px;
  color: #fa7268;
  line-height: 1.231;
  margin: 20px 0;
  letter-spacing: 2px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.list_style_1 li a:hover {
  color: #9ee5e5;
}

.blur.active {
  -webkit-filter: blur(14px);
          filter: blur(14px);
  padding-top: 120px;
}

@media (max-width: 500px) {
  .blur.active {
    padding-top: 80px;
  }
}

.modal-fone {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2000;
  font-family: "SFCompact";
  overflow: auto;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: none;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.modal-fone.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-fone.open-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.modal-fone .register-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-fone .inner_cont {
  position: relative;
  z-index: 2005;
}

.modal-fone h2 {
  line-height: 1;
  margin-right: 60px;
  max-width: 180px;
}

.modal-fone h2::before {
  left: -22px;
}

.modal-fone form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.modal-fone .input_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 495px;
  width: 100vw;
}

.modal-fone button[type=submit] {
  padding: 6px 20px;
  margin-top: 50px;
}

.modal-fone .label-group {
  position: relative;
}

.modal-fone label {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #333;
  font-size: 16px;
}

.modal-fone label.focus {
  top: -20px;
  color: #666;
  font-size: 12px;
}

.modal-fone input {
  background-color: transparent;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 2px solid #333;
  width: 212px;
  color: #343434;
  font-size: 16px;
  outline: none;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 767px) {
  .modal-fone form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-fone .input_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-fone h2 {
    margin-right: 0;
    margin-bottom: 45px;
    max-width: none;
    text-align: center;
    padding: 0 30px;
  }
  .modal-fone h2::before {
    display: none;
  }
  .modal-fone .label-group:last-child {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=commonClasses.css.map */