@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot");
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Ultralight.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Ultralight.svg#SFCompactDisplay-Ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot");
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Thin.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Thin.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Thin.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Thin.svg#SFCompactDisplay-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Light.eot");
  src: url("../fonts/formats/SFCompactDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Light.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Light.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Light.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Light.svg#SFCompactDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot");
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Regular.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Regular.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Regular.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot");
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Medium.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Medium.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Semibold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Semibold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Semibold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot");
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Heavy.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Heavy.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Heavy.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Heavy.svg#SFCompactDisplay-Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Black.eot");
  src: url("../fonts/formats/SFCompactDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Black.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Black.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Black.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Black.svg#SFCompactDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

footer.footer {
  padding: 135px 160px 135px 30px;
  font-family: "SFCompact";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.footer > div {
  max-width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.footer .copyright {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fa7268;
  position: absolute;
  left: -40px;
  font-size: 10px;
}

footer.footer .logo {
  margin-left: 50px;
  margin-right: 50px;
}

footer.footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  footer.footer {
    padding-right: 90px;
  }
}

@media (max-width: 768px) {
  footer.footer {
    padding: 50px 30px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  footer.footer .copyright {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    position: static;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
  }
  footer.footer .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  footer.footer .navigation {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=footer.css.map */