@import './vars.scss';

footer.footer {
    padding: 135px 50px 135px 30px;
    font-family: $SFCompact;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    justify-content: space-between;
    @include max_width;

    .nav_cont {
        max-width: 930px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        transition: all .3s ease;
    }

    .copyright {
        transform: rotate(-90deg);
        color: $main_success;
        position: absolute;
        left: -40px;
        font-size: 10px;
        transition: all .3s ease;
    }

    .logo {
        margin-left: 50px;
        margin-right: 50px;
        transition: all .3s ease;
    }

    nav {
        transition: all .3s ease;
    }

    .navigation {
        display: flex;
        align-items: flex-end;
        margin: 0;
        flex-wrap: wrap;
        transition: all .3s ease;
    }

    .footer_socials {
        display: none;
        transition: all .3s ease;

        a {
            margin: 10px;
        }

        svg {
            transform: scale(1);
            fill: $main_success;
            transition: transform .5s ease;

            &:hover {
                fill: $main_primary;
                transform: scale(1.1)
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
        transition: all .3s ease;

        & > div {
            display: flex;
            flex-direction: column;
            transition: all .3s ease;
        }

        button {
            font-size: 10px;
            padding: 6px 20px;
            line-height: 17px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: $main_primary;
            color: $black;
            border-radius: 3px;
            cursor: pointer;
            width: 150px;
            border: none;
            margin: 5px 0 15px;
            transition: .3s ease all;

            &:hover {
                background-color: $main_success;
                color: white;
                transition: .3s ease all;
            }

            &:focus {
                outline: none;
            }
        }

        a {
            font-size: 13px;
            color: $black;
            margin-bottom: 5px;
            transition: color .3s ease;

            &:hover {
                color: $main_success;
            }
        }

        p {
            font-size: 11px;
            color: $black;       
            width: 150px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 3px;
            border-bottom: 1px solid rgba(51, 51, 51, 0.253);
        }
    }
}

@media (max-width: 991px) {
    footer.footer {
        flex-direction: column;
        padding-right: 90px;
        padding-bottom: 50px;
        align-items: flex-end;

        .contacts {
            margin-left: 0;
            margin-top: 50px;
            flex-direction: row;

            & > div {
                display: flex;
                flex-direction: column;

                &:first-child {
                    margin-right: 100px;
                }
            }

            button {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    footer.footer {
        padding: 50px 30px 20px;
        flex-direction: column;
        align-items: center;

        .nav_cont {
            flex-direction: column;
            width: 100%;
        }
    
        .copyright {
            transform: rotate(0) translateX(0);
            position: static;
            order: 1;
            margin-top: 30px;
        }
    
        .logo {
            order: 1;
            margin: 0;
        }

        nav {
            margin-bottom: 30px;
        }
    
        .navigation {
            justify-content: center;
        }

        .footer_socials {
            display: flex;
            margin-bottom: 30px;
        }

        .contacts {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 40px;

            & > div:first-child {
                margin-right: 0;
            }

            button {
                margin-top: 5px;
            }
        }
    }
}
