@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot");
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Ultralight.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Ultralight.svg#SFCompactDisplay-Ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot");
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Thin.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Thin.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Thin.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Thin.svg#SFCompactDisplay-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Light.eot");
  src: url("../fonts/formats/SFCompactDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Light.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Light.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Light.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Light.svg#SFCompactDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot");
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Regular.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Regular.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Regular.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot");
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Medium.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Medium.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Semibold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Semibold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Semibold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot");
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Heavy.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Heavy.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Heavy.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Heavy.svg#SFCompactDisplay-Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Black.eot");
  src: url("../fonts/formats/SFCompactDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Black.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Black.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Black.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Black.svg#SFCompactDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

footer.footer {
  padding: 135px 50px 135px 30px;
  font-family: "SFCompact";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

footer.footer .nav_cont {
  max-width: 930px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .copyright {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fa7268;
  position: absolute;
  left: -40px;
  font-size: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .logo {
  margin-left: 50px;
  margin-right: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer nav {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .footer_socials {
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .footer_socials span {
  margin: 10px;
  cursor: pointer;
}

footer.footer .footer_socials svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  fill: #fa7268;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

footer.footer .footer_socials svg:hover {
  fill: #9ee5e5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .contacts > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer.footer .contacts button {
  font-size: 10px;
  padding: 6px 20px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #9ee5e5;
  color: #333;
  border-radius: 3px;
  cursor: pointer;
  width: 150px;
  border: none;
  margin: 5px 0 15px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

footer.footer .contacts button:hover {
  background-color: #fa7268;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

footer.footer .contacts button:focus {
  outline: none;
}

footer.footer .contacts a {
  font-size: 13px;
  color: #333;
  margin-bottom: 5px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

footer.footer .contacts a:hover {
  color: #fa7268;
}

footer.footer .contacts p {
  font-size: 11px;
  color: #333;
  width: 150px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.253);
}

@media (max-width: 991px) {
  footer.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 90px;
    padding-bottom: 50px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer.footer .contacts {
    margin-left: 0;
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer.footer .contacts > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.footer .contacts > div:first-child {
    margin-right: 100px;
  }
  footer.footer .contacts button {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  footer.footer {
    padding: 50px 30px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer.footer .nav_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  footer.footer .copyright {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
    position: static;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
  }
  footer.footer .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  footer.footer nav {
    margin-bottom: 30px;
  }
  footer.footer .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.footer .footer_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  footer.footer .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  footer.footer .contacts > div:first-child {
    margin-right: 0;
  }
  footer.footer .contacts button {
    margin-top: 5px;
  }
}
/*# sourceMappingURL=footer.css.map */