@import './vars.scss';

footer.footer {
    padding: 135px 160px 135px 30px;
    font-family: $SFCompact;
    display: flex;
    align-items: center;
    transition: all .3s ease;

    & > div {
        max-width: 930px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        transition: all .3s ease;
    }

    .copyright {
        transform: rotate(-90deg);
        color: $main_success;
        position: absolute;
        left: -40px;
        font-size: 10px;
        transition: all .3s ease;
    }

    .logo {
        margin-left: 50px;
        margin-right: 50px;
        transition: all .3s ease;
    }

    nav {
        transition: all .3s ease;
    }

    .navigation {
        display: flex;
        align-items: flex-end;
        margin: 0;
        flex-wrap: wrap;
        transition: all .3s ease;
    }

    .footer_socials {
        display: none;
        transition: all .3s ease;

        span {
            margin: 10px;
            cursor: pointer;
        }

        svg {
            transform: scale(1);
            fill: $main_success;
            transition: transform .5s ease;

            &:hover {
                fill: $main_primary;
                transform: scale(1.1)
            }
        }
    }
}

@media (max-width: 1100px) {
    footer.footer {
        padding-right: 90px;
    }
}

@media (max-width: 767px) {
    footer.footer {
        padding: 50px 30px 20px;
        flex-direction: column;

        & > div {
            flex-direction: column;
            width: 100%;
        }
    
        .copyright {
            transform: rotate(0) translateX(0);
            position: static;
            order: 1;
            margin-top: 30px;
        }
    
        .logo {
            order: 1;
            margin: 0;
        }

        nav {
            margin-bottom: 30px;
        }
    
        .navigation {
            justify-content: center;
        }

        .footer_socials {
            display: flex;
            margin-bottom: 30px;
        }
    }
}
