@import './vars.scss';
@import './font-size.scss';

header.main {
    padding: 205px 0 205px 80px;
    @include bg_primary_success;
    position: relative;
    transition: all .3s ease;

    &::after {
        content: '';
        background-image: url('../images/header-bg.png');
        background-repeat: no-repeat;
        background-size: 67%;
        background-position: 100% 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content {
        max-width: 450px;
        margin-right: auto;
        transition: all .3s ease;
        position: relative;
        z-index: 1;
        transition: all .3s ease;
    }

    .header_cont {
        transition: all .3s ease;
    }

    h1 {
        @include font-size(16px);
        color: $secondary_2;
        line-height: 1.6;     
        margin-bottom: 25px;
        
        .bold {
            font-weight: bold;
        }
    }

    .big {
        @include font-size(50px);
        color: $black;
        font-weight: 800;   
        line-height: 1;
        margin-bottom: 25px;          

        .thin {
            font-weight: normal;
        }
    }

    p {
        font-size: 11px;
        color: $black;
        line-height: 1.3;      
        margin-bottom: 0;    
        text-align: left;
        transition: all .3s ease;
    }

    button {
        margin-top: 30px;
    }

    .slider_arrows {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(50% - 82px / 2);
        left: 0;
        z-index: 1;

        button {
            border: none;
            width: 40px;
            height: 40px;
            background-color: white;
            margin: 0;
            cursor: pointer;
            transition: background-color .3s ease;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &.prev {
                transform: rotate(180deg);
                margin-bottom: 2px;
            }

            &:hover {
                background-color: $main_success;

                svg {
                    fill: white;
                }
            }
        }

        svg {
            width: 16px;
            fill: $main_success;
            transition: fill .3s ease;
        }
    }
}

@media (max-width: 1100px) {
    header.main {
        padding: 130px 0 130px 80px;

        p {
            max-width: 350px;
        }
    }
}

@media (max-width: 767px) {
    header.main {
        padding: 85px 0 85px 80px;
    }
}

@media (max-width: 600px) {
    header.main {
        padding: 50px 30px;
        
        &::after {
            background-image: none;
        }

        .content {
            max-width: none;
            text-align: center;
        }

        .slider_arrows {
            display: none;
        }

        p {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}
