@import './vars.scss';
@import './font-size.scss';

.topMenu {
    font-family: $SFCompact;
    background-color: white;
    z-index: 100;
    font-weight: normal;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 30px 0 90px;
    transition: all .3s ease;

    .logo {
        max-width: 240px;
        transition: all .3s ease;
    }

    &.fixedNav {
        box-shadow: -1px -6px 10px black;
    }

    .navigation {
        padding-right: 37px;

        &.hide {
            visibility: hidden;
            pointer-events: none;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }

        li {
            padding: 44px 17px;
        }
    }

    .has_children {
        position: relative;

        &:hover {
            .dropdown_menu {
                top: 85px;
                visibility: visible;
                user-select: text;
                z-index: 1;
                opacity: 1;
            }
        }

        .dropdown_menu {
            top: 95px;
            left: 0;
            position: absolute;
            visibility: hidden;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            opacity: 0;
            @include bg_primary_success;
            border-radius: 5px;
            padding: 10px 25px;
            transition: all .3s ease;
            z-index: -1;

            &.show {
                top: 85px;
                visibility: visible;
                user-select: text;
                z-index: 1;
                opacity: 1;
            }

            li {
                @include font-size(15px);
                text-transform: none;
                white-space: nowrap;
                padding: 0;
                margin: 0;

                a {
                    color: $secondary_light_2;
                    font-weight: normal;

                    &:hover {
                        color: $main_success;
                    }
                }
            }
        }   
    }

    .languages {
        font-size: 11px;
        line-height: 1.455;
        text-transform: lowercase;
        padding-left: 67px;

        &.hide {
            visibility: hidden;
            pointer-events: none;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }

        li {
            padding: 0 10px;
            
            a {
                color: $secondary;
                font-weight: 500;
                transition: color .3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.active a {
                font-weight: bold;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    #nav-icon3:focus {
        outline: none;
    }

    #nav-icon3 {
        width: 30px;
        height: 20px;
        background-color: transparent;
        border: none;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;


        span  {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: black;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 50%;
            }

            &:nth-child(4) {
                top: 100%;
                right: 0;
                left: unset;
                width: 70%;
            }
        }

        &.open {
            span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

@media (max-width: 1100px) {
    .topMenu {
        padding: 32px 90px;

        .navigation {
            display: none;
        }

        .languages {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .topMenu {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 500px) {
    .topMenu {
        padding-top: 20px;
        padding-bottom: 20px;

        .logo {
            max-width: 150px;
        }
    }
}

// full width menu 
.fullWidthMenu {
    top: 118px;
    left: 0;
    height: 99vh;
    width: calc(100% - 155px);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: scale(.8);
    max-height: 100vh;
    overflow: auto;
    transition: all .3s ease;
    @include bg_primary_success;

    .menu_language {
        text-transform: lowercase;

        ul li {
            padding: 0 10px;
            
            a {
                color: $secondary;
                font-weight: 500;
                transition: color .3s ease;
                font-weight: normal;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.active a {
                font-weight: bold;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
    
    .bg_image {
        background-image: url('../images/plant.png');
        background-repeat: no-repeat;
        background-position: -10% 100%;
        background-size: 46%;
        font-family: $SFCompact;
        padding: 60px 30px 95px 90px;
        height: 100%;
        width: 100%;
        overflow: auto;
        transition: all .3s ease;

        &::-webkit-scrollbar {
            width: 4px;
        }
         
        &::-webkit-scrollbar-track {
            background-color: $main_success_light;
        }
         
        &::-webkit-scrollbar-thumb {
            background-color: $main_success;
        }
    }

    &.hide {
        display: none;
    }

    &.show {
        display: block;
        z-index: 100;

        &.show-active {
            opacity: 1;
            transform: scale(1);
            transition: .5s ease all;
        }
    }

    nav {
        display: flex;
        align-items: flex-start;
    }

    .mainNav {
        width: max-content;
        text-align: right;

        li a {
            white-space: nowrap;
        }

        & > li {
            margin: 30px 0;
            padding-right: 85px;

            &:first-child {
                margin-top: 0;
            }

            &.services {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 0;

                .line {
                    max-width: 65px;
                }
            }

            a {
                font-weight: bold;
                @include font-size(18px);
                color: $black;
                padding: 5px 0;
                transition: color .3s ease;

                &:hover {
                    color: $main_success;
                }
            }
        }
    }

    .mobile_menu {
        display: none;
    }

    .leptop_menu {
        display: flex;
        width: 100%;
        margin-top: 59px;

        ul {
            width: 100%;
            text-align: left;
        }

        li {
            padding: 5px 0;

            a {
                white-space: nowrap;
            }

            &:first-child {
                @include font-size(15px);
                color: $secondary_light_2;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                transition: color .3s ease;

                &:hover {
                    color: $main_success;
                }
            }

            &:not(:first-child) {
                margin: 5px 0;
                color: $main_success;
                transition: color .3s ease;

                &:hover {
                    color: $secondary_light_2;
                }
            }
        }
    }

    .line {
        height: 1px;
        width: 100%;
        margin: 0 10px;
        background-color: $main_success;
        display: inline-block;
    }
}

@media (max-width: 1200px) {
    .fullWidthMenu {
        width: 100%; 
    }
}

@media (max-width: 1050px) {
    .fullWidthMenu {
        height: calc(100vh - 50px);

        .leptop_menu {
            display: none;
        }

        .menu_language {
    
            ul {
                justify-content: center;
            }
        }

        .bg_image {
            background-image: none;
            padding: 50px 30px;
        }

        .mainNav {
            width: 100%;
            text-align: center;
    
            & > li {
                padding-right: 0;
    
                &.services {
                    display: list-item;
    
                    .line {
                        display: none;
                    }
                }
            }
        }

        .mobile_menu {
            display: block;

            .main_li {
                margin: 20px 0;
                
                & > a {
                    color: $secondary_light_2;
                }

                ul {
                    li {
                        margin: 10px 0;

                        a {
                            color: $main_success;

                            &:hover {
                                color: $secondary_light_2;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .fullWidthMenu {
        top: 79px;
    }
}
// end full width menu
