@import './vars.scss';

.topMenu {
    font-family: $SFCompact;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 32px 30px 32px 90px;

    .logo {
        max-width: 240px;
    }

    &.fixedNav {
        box-shadow: -1px -6px 10px black;
    }

    .navigation {
        padding-right: 37px;

        &.hide {
            visibility: hidden;
            pointer-events: none;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }

        li {
            padding: 0 17px;
        }
    }

    .languages {
        font-size: 11px;
        line-height: 1.455;
        text-transform: lowercase;
        padding-left: 67px;

        &.hide {
            visibility: hidden;
            pointer-events: none;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
        }

        li {
            padding: 0 10px;
            
            a {
                color: $secondary;
                font-weight: 500;
                transition: color .3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.active a {
                font-weight: bold;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    #nav-icon3:focus {
        outline: none;
    }

    #nav-icon3 {
        width: 30px;
        height: 20px;
        background-color: transparent;
        border: none;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;


        span  {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: black;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 50%;
            }

            &:nth-child(4) {
                top: 100%;
                right: 0;
                left: unset;
                width: 70%;
            }
        }

        &.open {
            span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

@media (max-width: 1100px) {
    .topMenu {
        padding-right: 90px;

        .navigation {
            display: none;
        }

        .languages {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .topMenu {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 500px) {
    .topMenu {
        padding-top: 20px;
        padding-bottom: 20px;

        .logo {
            max-width: 150px;
        }
    }
}

// full width menu 
.fullWidthMenu {
    font-family: $SFCompact;
    padding: 95px 90px;
    top: 118px;
    left: 0;
    height: max-content;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transform: scale(.8);
    max-height: 90vh;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 2px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #a79f9f;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: black;
    }

    &.hide {
        display: none;
    }

    &.show {
        display: block;
        z-index: 100;

        &.show-active {
            opacity: 1;
            transform: scale(1);
            transition: .5s ease all;
        }
    }
}

@media (max-width: 500px) {
    .fullWidthMenu {
        top: 79px;
    }
}

@media (min-width: 250px) {
    .fullWidthMenu {
        transition: all .3s ease;
    }
}
// end full width menu
