@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot");
  src: url("../fonts/formats/SFCompactDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Ultralight.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Ultralight.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Ultralight.svg#SFCompactDisplay-Ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot");
  src: url("../fonts/formats/SFCompactDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Thin.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Thin.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Thin.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Thin.svg#SFCompactDisplay-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Light.eot");
  src: url("../fonts/formats/SFCompactDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Light.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Light.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Light.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Light.svg#SFCompactDisplay-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot");
  src: url("../fonts/formats/SFCompactDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Regular.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Regular.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Regular.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot");
  src: url("../fonts/formats/SFCompactDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Medium.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Medium.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Semibold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Semibold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Semibold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot");
  src: url("../fonts/formats/SFCompactDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot");
  src: url("../fonts/formats/SFCompactDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Heavy.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Heavy.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Heavy.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Heavy.svg#SFCompactDisplay-Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompact';
  src: url("../fonts/formats/SFCompactDisplay-Black.eot");
  src: url("../fonts/formats/SFCompactDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFCompactDisplay-Black.woff2") format("woff2"), url("../fonts/formats/SFCompactDisplay-Black.woff") format("woff"), url("../fonts/formats/SFCompactDisplay-Black.ttf") format("truetype"), url("../fonts/formats/SFCompactDisplay-Black.svg#SFCompactDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

.topMenu {
  font-family: "SFCompact";
  background-color: white;
  z-index: 100;
  font-weight: normal;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 30px 0 90px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.topMenu .logo {
  max-width: 240px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.topMenu.fixedNav {
  -webkit-box-shadow: -1px -6px 10px black;
          box-shadow: -1px -6px 10px black;
}

.topMenu .navigation {
  padding-right: 37px;
}

.topMenu .navigation.hide {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.topMenu .navigation li {
  padding: 44px 17px;
}

.topMenu .has_children {
  position: relative;
}

.topMenu .has_children:hover .dropdown_menu {
  top: 85px;
  visibility: visible;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  z-index: 1;
  opacity: 1;
}

.topMenu .has_children .dropdown_menu {
  top: 95px;
  left: 0;
  position: absolute;
  visibility: hidden;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7e2e2), to(#e2f7f7));
  background: linear-gradient(0deg, #f7e2e2 0%, #e2f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f7f7', endColorstr='#f7e2e2',GradientType=0 );
  border-radius: 5px;
  padding: 10px 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}

.topMenu .has_children .dropdown_menu.show {
  top: 85px;
  visibility: visible;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  z-index: 1;
  opacity: 1;
}

.topMenu .has_children .dropdown_menu li {
  font-size: 0.9375rem;
  text-transform: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

@media (max-width: 1440px) {
  .topMenu .has_children .dropdown_menu li {
    font-size: calc(0.90375rem + 0.0375vw) ;
  }
}

.topMenu .has_children .dropdown_menu li a {
  color: #707070;
  font-weight: normal;
}

.topMenu .has_children .dropdown_menu li a:hover {
  color: #fa7268;
}

.topMenu .languages {
  font-size: 11px;
  line-height: 1.455;
  text-transform: lowercase;
  padding-left: 55px;
}

.topMenu .languages.hide {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.topMenu .languages li {
  padding: 0 8px;
}

.topMenu .languages li a {
  color: #454545;
  font-weight: 500;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.topMenu .languages li a:hover {
  text-decoration: underline;
}

.topMenu .languages li.active a {
  font-weight: bold;
}

.topMenu .languages li:last-child {
  padding-right: 0;
}

.topMenu #nav-icon3:focus {
  outline: none;
}

.topMenu #nav-icon3 {
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.topMenu #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.topMenu #nav-icon3 span:nth-child(1) {
  top: 0px;
}

.topMenu #nav-icon3 span:nth-child(2), .topMenu #nav-icon3 span:nth-child(3) {
  top: 50%;
}

.topMenu #nav-icon3 span:nth-child(4) {
  top: 100%;
  right: 0;
  left: unset;
  width: 70%;
}

.topMenu #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.topMenu #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.topMenu #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.topMenu #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: 1100px) {
  .topMenu {
    padding: 32px 90px;
  }
  .topMenu .navigation {
    display: none;
  }
  .topMenu .languages {
    display: none;
  }
}

@media (max-width: 767px) {
  .topMenu {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 500px) {
  .topMenu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .topMenu .logo {
    max-width: 150px;
  }
}

.fullWidthMenu {
  top: 118px;
  left: 0;
  height: 99vh;
  width: calc(100% - 98px);
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  max-height: 100vh;
  overflow: auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7e2e2), to(#e2f7f7));
  background: linear-gradient(0deg, #f7e2e2 0%, #e2f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f7f7', endColorstr='#f7e2e2',GradientType=0 );
}

.fullWidthMenu .menu_language {
  text-transform: lowercase;
}

.fullWidthMenu .menu_language ul li {
  padding: 0 10px;
}

.fullWidthMenu .menu_language ul li a {
  color: #454545;
  font-weight: 500;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  font-weight: normal;
}

.fullWidthMenu .menu_language ul li a:hover {
  text-decoration: underline;
}

.fullWidthMenu .menu_language ul li.active a {
  font-weight: bold;
}

.fullWidthMenu .menu_language ul li:last-child {
  padding-right: 0;
}

.fullWidthMenu .bg_image {
  background-image: url("../images/plant.png");
  background-repeat: no-repeat;
  background-position: -10% 100%;
  background-size: 43%;
  font-family: "SFCompact";
  padding: 60px 30px 95px 90px;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.fullWidthMenu .bg_image::-webkit-scrollbar {
  width: 4px;
}

.fullWidthMenu .bg_image::-webkit-scrollbar-track {
  background-color: #f7e2e2;
}

.fullWidthMenu .bg_image::-webkit-scrollbar-thumb {
  background-color: #fa7268;
}

.fullWidthMenu.hide {
  display: none;
}

.fullWidthMenu.show {
  display: block;
  z-index: 100;
}

.fullWidthMenu.show.show-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.fullWidthMenu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fullWidthMenu .mainNav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
}

.fullWidthMenu .mainNav li a {
  white-space: nowrap;
}

.fullWidthMenu .mainNav > li {
  margin: 30px 0;
  padding-right: 85px;
}

.fullWidthMenu .mainNav > li:first-child {
  margin-top: 0;
}

.fullWidthMenu .mainNav > li.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}

.fullWidthMenu .mainNav > li.services .line {
  max-width: 65px;
}

.fullWidthMenu .mainNav > li a {
  font-weight: bold;
  font-size: 1.125rem;
  color: #333;
  padding: 5px 0;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

@media (max-width: 1440px) {
  .fullWidthMenu .mainNav > li a {
    font-size: calc(0.9225rem + 0.225vw) ;
  }
}

.fullWidthMenu .mainNav > li a:hover {
  color: #fa7268;
}

.fullWidthMenu .mobile_menu {
  display: none;
}

.fullWidthMenu .leptop_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 59px;
}

.fullWidthMenu .leptop_menu ul {
  width: 100%;
  text-align: left;
}

.fullWidthMenu .leptop_menu li {
  padding: 5px 0;
}

.fullWidthMenu .leptop_menu li a {
  white-space: nowrap;
}

.fullWidthMenu .leptop_menu li:first-child {
  font-size: 0.9375rem;
  color: #707070;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

@media (max-width: 1440px) {
  .fullWidthMenu .leptop_menu li:first-child {
    font-size: calc(0.90375rem + 0.0375vw) ;
  }
}

.fullWidthMenu .leptop_menu li:first-child:hover {
  color: #fa7268;
}

.fullWidthMenu .leptop_menu li:not(:first-child) {
  margin: 5px 0;
  color: #fa7268;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.fullWidthMenu .leptop_menu li:not(:first-child):hover {
  color: #707070;
}

.fullWidthMenu .line {
  height: 1px;
  width: 100%;
  margin: 0 10px;
  background-color: #fa7268;
  display: inline-block;
}

@media (max-width: 1200px) {
  .fullWidthMenu {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .fullWidthMenu {
    height: calc(100vh - 50px);
  }
  .fullWidthMenu .leptop_menu {
    display: none;
  }
  .fullWidthMenu .menu_language ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fullWidthMenu .bg_image {
    background-image: none;
    padding: 50px 30px;
  }
  .fullWidthMenu .mainNav {
    width: 100%;
    text-align: center;
  }
  .fullWidthMenu .mainNav > li {
    padding-right: 0;
  }
  .fullWidthMenu .mainNav > li.services {
    display: list-item;
  }
  .fullWidthMenu .mainNav > li.services .line {
    display: none;
  }
  .fullWidthMenu .mobile_menu {
    display: block;
  }
  .fullWidthMenu .mobile_menu .main_li {
    margin: 20px 0;
  }
  .fullWidthMenu .mobile_menu .main_li.opened_menu > span svg {
    fill: #fa7268;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .fullWidthMenu .mobile_menu .main_li > a {
    color: #707070;
    margin-left: 36px;
  }
  .fullWidthMenu .mobile_menu .main_li > span {
    display: inline-block;
    padding: 0px 0 0 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  .fullWidthMenu .mobile_menu .main_li > span:hover svg {
    fill: #fa7268;
  }
  .fullWidthMenu .mobile_menu .main_li > span svg {
    width: 16px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    fill: #707070;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .fullWidthMenu .mobile_menu .main_li ul li {
    margin: 10px 0;
  }
  .fullWidthMenu .mobile_menu .main_li ul li a {
    color: #fa7268;
  }
  .fullWidthMenu .mobile_menu .main_li ul li a:hover {
    color: #707070;
  }
}

@media (max-width: 500px) {
  .fullWidthMenu {
    top: 79px;
  }
}
/*# sourceMappingURL=menu.css.map */