@import '../fonts/fonts.scss';

$SFCompact: 'SFCompact';

$secondary: #454545;
$secondary_2: #343434;
$main_primary_light: #e2f7f7;
$main_primary: #9ee5e5;
$main_success_light: #f7e2e2;
$main_success: #fa7268;
$black: #333;
$secondary_light: #666;
$secondary_light_2: #707070;


@mixin bg_primary_success {
    background: -moz-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main_primary_light), color-stop(100%, $main_success_light));
    background: -webkit-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 100%);
    background: -o-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 100%);
    background: -ms-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 100%);
    background: linear-gradient(0deg, $main_success_light 0%, $main_primary_light 100%);   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f7f7', endColorstr='#f7e2e2',GradientType=0 );
}

@mixin bg_more_primary {
    background: -moz-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 43%, $main_primary_light 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main_primary_light), color-stop(57%, $main_primary_light), color-stop(100%, $main_success_light)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 43%, $main_primary_light 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 43%, $main_primary_light 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, $main_success_light 0%, $main_primary_light 43%, $main_primary_light 100%); /* ie10+ */
    background: linear-gradient(0deg, $main_success_light 0%, $main_primary_light 43%, $main_primary_light 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f7f7', endColorstr='#f7e2e2',GradientType=0 ); /* ie6-9 */
}

@mixin bg_success_primary {
    background: -moz-linear-gradient(90deg, $main_primary_light 0%, $main_success_light 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $main_success_light), color-stop(100%, $main_primary_light));
    background: -webkit-linear-gradient(90deg, $main_primary_light 0%, $main_success_light 100%);
    background: -o-linear-gradient(90deg, $main_primary_light 0%, $main_success_light 100%);
    background: -ms-linear-gradient(90deg, $main_primary_light 0%, $main_success_light 100%);
    background: linear-gradient(0deg, $main_primary_light 0%, $main_success_light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e2e2', endColorstr='#e2f7f7',GradientType=0 );
}

@mixin max_width {
    max-width: 1440px;
    margin: 0 auto;
}
